<!-- Title -->
{% if page.title %}
	{% capture title %}{{ page.title }} — {{ site.title | replace:'&nbsp;',' ' }}{% endcapture %}
{% else %}
	{% capture title %}{{ site.title }}{% endcapture %}
{% endif %}

<title>{{ title }}</title>

<meta content="{{ site.title | replace:'&nbsp;',' ' }}" property="og:site_name">
<meta content="{{ title }}" property="og:title">

{% if page.id %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}


<!-- Description -->
{% if page.excerpt %}
	{% capture description %}{{ page.excerpt | strip_html | markdownify }}{% endcapture %}
{% else if if page.description %}
	{% capture description %}{{ page.description }}{% endcapture %}
{% else %}
	{% capture description %}{{ site.description }}{% endcapture %}
{% endif %}

<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">


<!-- Other fields. -->
{% if page.url %}
  <meta content="http://{{ site.hostname }}{{ page.url }}" property="og:url">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="http://{{ site.hostname }}/about/" property="article:author">
{% endif %}
  <meta content="http://{{ site.hostname }}/assets/img/portrait.png" property="og:image">
{% if page.category %}
  <meta content="{{ page.category }}" property="article:section">
{% endif %}
{% if page.tag %}
  <meta content="{{ page.tag }}" property="article:tag">
{% endif %}

{% if page.date %}
<meta http-equiv="date" content="{{ page.date | date: '%A, %d %Y %H:%M:%S GMT' }}">
{% endif %}

<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS Feed">
<link rel="sitemap" type="application/xml" href="/sitemap.xml" title="Sitemap">
<link rel="source" href="https://github.com/liamzebedee/liamz.co" title="Source Code">

<!-- Desktop -->
<link rel="icon" type="image/png" href="/assets/img/portrait-round.png">
<!-- iOS, Android -->
<link rel="apple-touch-icon-precomposed" href="/assets/img/portrait.png">
