/* Landscape phone to portrait tablet */
@media (max-width: 33em) {

body {
	// I'll handle the padding here. 
	// You stay outta da 'hood.
	padding: 0 0 0 0;
	#container {
		.container-fluid;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
	}
}

#masthead {
	.text-center;
	#menu {
		ul {
			.brand {
				display: block;
			}
			a {
				color: @black;
			}
		}
	}
	
	margin-bottom: 1em;
}

#content {
	padding-left: 0.5em;
	padding-right: 0.5em;
	
	#select-posts {
		#grid > .fluid > .span(12);
	}
	#latest-posts {
		#grid > .fluid > .span(12);
	}
	
	.archives {
		li {
			width: 100%;
			float: left;
			margin-bottom: 2em;
			
			.date-published {
				.muted;
				float: right;
			}
			.date-published:before {
				content: " — ";
			}
	
			.info {
				text-align: left;
			}
		}
	}
}

}
