/* Portrait tablet to landscape and desktop... */
@media (min-width: 801px) {

.padding {
	padding-left: 2em;
	padding-right: 2em;
}
.wrap {
	.padding;
}

#sidebar {
	#grid > .fluid > .row-fluid;
	#grid > .fluid > .span(3);
	display: inline-block;
	vertical-align: top;
	
	border-right: 1px solid @grayLighter;
}

#content {
	#grid > .fluid > .row-fluid;
	#grid > .fluid > .span(9);
	display: inline-block;
	vertical-align: top;
}

}
