q {
	&:before { content: "“"; }
	&:after { content: "”"; }
}

blockquote p {
	margin-bottom: 10px;
}

blockquote p:last-of-type {
	margin-bottom: 0px;
}

s {
	color: @grayLight !important;
	margin-bottom: 1em;
	display: inline-block;
	* {
		color: @grayLight !important;
	}
}
