// iconx because Bootstrap has a selector for icon-*
.iconxx-feed {
	@length: 32px;
	background-size: @length @length;
	// Source: https://en.wikipedia.org/wiki/File:Feed-icon.svg
	// XXX make this dynamic. I got it working in Chrome with SVG background-image
	// but not in FF. Probably best to use CSS3. 
	background-image: url("/assets/img/icon-feed.gif");
	display: inline-block;
	width: @length;
	height: @length;
}
