q {
	&:before { content: "“"; }
	&:after { content: "”"; }
}

blockquote p {
	margin-bottom: 10px;
}

blockquote p:last-of-type {
	margin-bottom: 0px;
}

s {
	color: @gray-light !important;
	margin-bottom: 1em;
	display: inline-block;
	* {
		color: @gray-light !important;
	}
}

.center {
	margin: 0 auto;
	text-align: center;
}

.carouselx-caption {
      max-width: 550px;
      padding: 0 20px;
      margin:0 auto;
      margin-top: 200px;
      text-align:center;
}

p,li {
	.lead;
}

// OWL CAROUSEL
.owl-carousel {
	h4 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
	img { .img-responsive; }
}

.owl-theme {
  .owl-controls .owl-buttons div { padding: 5px 9px; }
  .owl-buttons i { margin-top: 2px; }
}
