---
---

@import "assets/css/_bootstrap/bootstrap.less";
@import "assets/css/_bootstrap/responsive.less";

@headingsColor: rgb(78, 78, 78);

/*
@navbarInverseBackgroundHighlight:       @black;
@navbarInverseBackground:                darken(@navbarInverseBackgroundHighlight, 5%);
@navbarInverseBorder:                    darken(@navbarInverseBackground, 12%);
@navbarInverseText:                      #777;
@navbarInverseLinkColor:                 #777;
@navbarInverseLinkColorHover:            @grayDark;
@navbarInverseLinkColorActive:           @gray;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      darken(@navbarBackground, 5%);
*/

/*
 * THE BIG 3: menu, masthead and content.
 */

body {
	// Navbar
	padding-top: 40px;
}

#container {
	.container-fluid;
	padding: 0 0 0 0;
}

#menu,
#background,
#main {
	#grid > .fluid > .row-fluid;
}

#background {
	#gradient > .directional(#524451 0%, #676D67 100%);
	@shadow: 0px 3px 7px rgba(0, 0, 0, 0.2) inset, 0px -3px 7px rgba(0, 0, 0, 0.2) inset;
	.box-shadow(@shadow);
	border-bottom: 1px solid #ddd;
	
	#masthead {
		text-align: left;
		position: relative;
		text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
		
		h1 {
			color: @white;
			font-weight: bold;
			line-height: 1;
			@media screen and (-webkit-min-device-pixel-ratio:0) {
				// WebKit browsers render the Web Fonts strangely
				//letter-spacing: 2px; 
			}
		}
		
		h2 {
			color: @white;
			font-weight: 300;
			line-height: 1.25;
		}
	}
}

#main {
	padding-top: 1em;
	
	#content {
		#posts {
			.post-item {
				float: left;
				clear: left;
				margin-bottom: 0.5em;
				width: 100%;
				
				.date {
					.muted;
					float: left;
					//clear: right;
					width: 20%;
				}
				
				.info {
					float: left;
					width: 80%;
					text-align: left;
				}
				.title { .calm-link }
			}
			
			ul {
				display: inline-block;
			}
			
			#articles {
				#grid > .fluid > .span(6);
			}
			#notes {
				#grid > .fluid > .span(6);
			}
		}
		
		#post {			
			header h1 small {
				display: inline-block;
				/*time[pubdate] {
					/* When we pull the <small> right, the line height stuffs up. HACK 
					line-height: 200%;
				}*/
			}
		}
	}
}

/*
 * Utility.
 */

.calm-link() {
	color: #444;
	font-weight: bold;
	
	&:hover {
		.transition(0.25s);
		text-decoration: none;
		color: #08c;
	}
}

@import "assets/css/screen.less";
@import "assets/css/mobile.less";
