---
layout: default
---
<div id="container">	
	<div id="background">
	<header id="masthead">
		<h1>LIAMZ.CO</h1>
		<h2>Home of Liam (liamzebedee) Edwards-Playne</h2>
	</header>
	</div>
	
	<div id="thegrey-wrapper"><div id="thegrey">
	<nav id="navigation-menu"><ul role="menu">
		{% for link in site.menu %}
			{% assign current = false %}
			{% if page.url == link.url %}
				{% assign current = true %}
			{% endif %}

			<li{% if current %} class="current"{% endif %}>
				<a href="{{ link.url }}">{{ link.text }}</a>
			</li>
		{% endfor %}
	</ul></nav>
	</div></div>
	
	<div id="main">
		<div id="content">{{ content }}</div>
	</div>
</div>
