---
layout: default
---
<div id="page">

<article id="content" {% if page.schema %} itemscope itemtype="http://schema.org/{{ page.schema }}" {% endif %}>
<header><div class="shadow-overlay"><div class="inner-padding">

<div id="portrait"><a href="http://liamz.co"><img src="/assets/img/portrait.png" id="portrait-image"></img></a></div>
<div id="details">
	<h1>Liam Zebedee Edwards-Playne <small>16. Student. Programmer.</small></h1>
</div>

</div></div></header>

<section id="profiles"><div class="inner-padding">

<nav><ul class="list-inline">
<!-- INSTAGRAM -->
<li><div class="sbadge"><a href="http://instagram.com/liamzebedee"><img src="/assets/img/badge-instagram.png" title="Instagram — photoblogging" alt="Instagram"/></a></div>

<!-- TWITTER -->
<li><div class="sbadge"><a href="https://twitter.com/liamzebedee"><img alt="Twitter" title="Twitter — microblogging" src="/assets/img/badge-twitter.png"></img></a></div>

<!-- EMAIL -->
<li><div class="sbadge"><a href="mailto:liam@liamz.co"><img alt="Email" title="Email" src="/assets/img/badge-email.svg"></img></a></div>

<!-- MEDIUM -->
<li><div class="sbadge"><a href="https://medium.com/@liamzebedee"><img title="Medium — a place to share ideas and stories" alt="Medium" src="/assets/img/badge-medium.png"></img></a></div>

<!-- GITHUB -->
<li><div class="sbadge"><a href="https://github.com/liamzebedee"><img alt="GitHub" title="GitHub — online collaborative code hosting" src="/assets/img/badge-github.png"></img></a></div>

<!-- STACKOVERFLOW -->
<li><div class="sbadge"><a href="http://stackoverflow.com/users/453438/liamzebedee"><img title="StackOverflow — Programming Q&A site" alt="StackOverflow" src="/assets/img/badge-stackoverflow.svg"></img></a></div>

<!-- LINKEDIN -->
<li><div class="sbadge sbadge-linkedin"><a href="https://www.linkedin.com/profile/view?id=295704152"><img alt="LinkedIn" title="LinkedIn — professional social network" src="/assets/img/badge-linkedin.png"></img></a></div>

</ul></nav>
</div></section>
{{ content }}
</article>

<footer id="footer"><div class="inner">
For those who are interested, this is mark 15 of my website. Crazy to think I've been doing this since 2009...And no, I don't have an RSS feed, because I'm fairly sure no-one ever subscribed to it and Twitter is mostly superior.
</div></footer>

</div>
