---
layout: base
---
<article id="post">
	<header>
		{% if false %}
		{% if page.categories %}
		<ul class="categories">
			{% for category in page.categories %}
			<li>{{ category }}
			{% endfor %}
		</ul>
		{% endif %}
		
		{% if page.tags %}
		<ul class="tags">
			{% for tag in page.tags %}
			<li>{{ tag }}
			{% endfor %}
		</ul>
		{% endif %}
		{% endif %}
		<div class="page-header"><h1>{{ page.title }} <small><time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}" pubdate>{{ page.date | date: "%B %d, %Y" }}</time></small></h1></div>
	</header>
	
	{{ content }}
	
	<footer>
		<nav><ul class="pager">
			<li class="previous {% if page.previous == null %}disabled{% endif %}">
				<a href="{{ page.previous.url }}" rel="prev">&larr; Previous</a>
			</li>
			<li class="next {% if page.next == null %}disabled{% endif %}">
				<a href="{{ page.next.url }}" rel="next">Next &rarr;</a>
			</li>
		</ul></nav>
	</footer>
</article>
