---
layout: base
---
<article>
	<header class="content-meta">
		{% if false %}
		{% if page.categories %}
		<ul class="categories">
			{% for category in page.categories %}
			<li>{{ category }}
			{% endfor %}
		</ul>
		{% endif %}
		
		{% if page.tags %}
		<ul class="tags">
			{% for tag in page.tags %}
			<li>{{ tag }}
			{% endfor %}
		</ul>
		{% endif %}
		{% endif %}
		<div class="page-header">
			<h1>{{ page.title }} <small><time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}" pubdate>{{ page.date | date: "%B %d, %Y" }}</time></small></h1>
		</div>
	</header>
	
	<div class="content">{{ content }}</div>
	
	<footer>
		<nav>
			{% if page.prev %}<li><a href="{{ page.prev.url }}" rel="prev">Previous Post</a>{% endif %}
			{% if page.next %}<li><a href="{{ page.next.url }}" rel="next">Next Post</a>{% endif %}
		</nav>
	</footer>
</article>
