<!DOCTYPE html>
<!-- To be finished. -->
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/assets/css/site.css" rel="stylesheet" media="screen">
	<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	
	<meta name="description" content="{% if page.description %} {{ page.description | trim(' ') }} {% else %} {{ site.description | trim(' ') }} {% endif %}">
	{% if page.date %}
	<meta http-equiv="date" content="{{page.date |date: '%A, %d  %Y %H:%M:%S GMT'}}">
	{% endif %}
	
	<link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">
	<link rel="sitemap" type="application/xml" href="sitemap.xml" title="Sitemap">
	
	<!-- Desktop -->
	<link rel="icon" type="image/png" href="/assets/img/icon.png">
	<!-- iOS -->
	<link rel="apple-touch-icon" href="/assets/img/icon-touch.png">
	<!-- Android -->
	<link rel="apple-touch-icon-precomposed" href="/assets/img/icon-touch-precomposed.png">
</head>
<body>

{{ content }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.fittext.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>
