---
layout: base
categories: post
---
<header class="page-header">
	<h1>{{ page.title }} <small><time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}" pubdate>{{ page.date | date: "%B %d, %Y" }}</time></small></h1>
</header>

{{ content }}

<footer>
	{% unless page.responses == null %}
	<section id="responses">
	<h3>Responses.</h2>
	<ul>
		{% for item in page.responses %}
		<li><a href="{{item.link}}">{{item.text}}</a></li>
		{% endfor %}
	</ul>
	</section>
	{% endunless %}
	
	{% unless page.previous == null and page.next == null %}
	<nav><ul class="pager">
		<li class="previous{% if page.previous == null %} disabled{% endif %}">
			<a {% if page.previous != null %}href="{{ page.previous.url }}"{% endif %} rel="prev" title="{{ page.previous.title }}">&larr; Previous</a>
		</li>
		<li class="next{% if page.next == null %} disabled{% endif %}">
			<a {% if page.next != null %}href="{{ page.next.url }}"{% endif %} rel="next" title="{{ page.next.title }}">Next &rarr;</a>
		</li>
	</ul></nav>
	{% endunless %}
</footer>
